h1 {
    font-size: 75px;
    text-align: center;
    color: #202124;
}

body {
    font-family: 'Electrolize', sans-serif;
    background-color: #fefbea;
}

button.back {
    background-color: #fefbea;
    border-color: #fefbea;
    border-style: none;
}

div.diagram {
    background-color: #202124;
    border-color: rgba(50, 50, 50, 90);
    border-style: solid;
    border-width: 10px;
}

p1 {
    color: #fefbea;
    font-size: 30px;
}

div.chute {
    background-color: #202124;
    border-color: rgba(50, 50, 50, 90);
    border-style: solid;
    border-width: 10px;
    line-height: 0.7;
}
